.content-like {
    color: red;
}

body {
    background: #f6f6f6;
}

.header-style {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;

    .header {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .index {
            position: absolute;
            left: 20px;
            color: rgb(5, 109, 232);
            width: 80px;
            height: 100%;
            font-size: 30px;
        }

        .menu {
            position: absolute;
            top: 0;
            left: 110px;
            height: 100%;
            font-size: 15px;
        }

        .search {
            position: absolute;
            left: 500px;
            top: -7px;
            width: 450px;


            input {
                height: 100%;
                width: 450px;
                background-color: #f6f6f6;

            }

            button {
                height: 36px;
                border-radius: 40px;
                background-color: #f6f6f6;

            }
        }

        .ctx {
            position: absolute;
            top: 10px;
            left: 1000px;
            height: 30px;
            width: 40px;
            text-align: center;
            padding: 0
        }

        .ctxx {
            position: absolute;
            top: 10px;
            left: 1050px;
            height: 30px;
            width: 40px;
            text-align: center;
            padding: 0
        }

        .xinxi {
            width: 360px;
            height: 430px;
            max-height: 430px;
            font-size: 18px;
            overflow: auto;
        }

        .users {
            position: absolute;
            top: 10px;
            left: 1100px;
            height: 30px;
            width: 40px;
            text-align: center;
            padding: 0
        }
    }

}

.content-style {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    margin-top: 10px;

    .float {
        position: absolute;
        top: 100px;
        width: 700px;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid #f6f6f6;


        a {
            color: black;
            font-size: 16px;
            font-weight: 500;
            margin: 26px;
            line-height: 60px;
        }

        .active {
            color: blue;
        }

        a:hover {
            color: gray;
        }

        .fow {
            width: 100%;
            height: 170px;
            background-color: white;
            font-size: 16px;
            text-align: center;
            line-height: 170px;
            color: gray;
        }

        .index {
            position: relative;
            width: 100%;
            min-height: 160px;
            background-color: white;
            font-size: 13px;
            color: black;
            padding: 20px;
            border-top: 1px solid #f6f6f6;
            border-bottom: 1px solid #f6f6f6;

            h2 {
                margin: 0;
                margin-bottom: 9px;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                margin: 0;

                button {
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    height: auto;
                    line-height: inherit;
                    color: blue;
                }

                button:hover {
                    color: gray;
                }
            }

            p:hover {
                color: gray;
            }

            .btn {
                cursor: pointer;
                width: 48px;
                height: 28px !important;
                line-height: 32px;
                border: none;
                border-radius: 3px;
                height: auto;
                line-height: inherit;
                color: blue;
                padding: 2px;
                margin-left: 16px;
            }

            .review {
                cursor: pointer;
                width: 90px;
                height: 30px;
                background-color: transparent;
                border: none;
                border-radius: 0;
                line-height: inherit;
                color: gray;
            }




        }

    }



    .delete {
        float: right;
    }

    .index-img {
        position: absolute;
        width: 700px;
        height: 80px;
        background: url(./img/index.jpeg);
    }

    .cmt-list {
        position: absolute;
        left: 130px;
        top: 90px;
        width: 700px;
        background-color: #fff;
    }
}









.sider-style {
    z-index: 10;
    position: relative;
    left: -3rem;
    text-align: center;
    line-height: 20px;
    background-color: #fff !important;
    margin-top: 10px;
    max-width: 400px !important;
    min-width: 300px !important;
    width: 300px !important;
    height: 300px;

    .create {
        position: absolute;
        left: 30px;
        top: 18px;
    }

    .box {
        position: absolute;
        left: 220px;
        top: 18px;
        color: #726f6f;
    }


    .biaodan {
        height: 300px;
        overflow: auto;
    }
}